@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700&display=swap);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  display: none;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#msg-box5-5z P {
  font-size: 24px;
  color: #ffffff;
}
#msg-box5-5z H3 {
  font-size: 36px;
  color: #ffffff;
}
#msg-box8-72 .mbr-section-title,
#msg-box8-72 .lead {
  color: #fff;
}
#msg-box8-72 .mbr-section-title DIV {
  font-size: 36px;
}
#msg-box8-72 .lead P {
  font-size: 22px;
}
#msg-box8-72 .mbr-section-title {
  font-size: 46px;
}
#header3-61 .mbr-section-title,
#header3-61 .mbr-section-subtitle {
  text-align: center;
}
#header3-61 .mbr-section-subtitle {
  font-size: 22px;
  color: #ffffff;
}
#header3-61 .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#msg-box5-64 P {
  font-size: 32px;
  color: #28324e;
}
#testimonials4-73 .mbr-section-title {
  text-align: left;
}
#testimonials4-73 .card-block P {
  text-align: left;
}
#testimonials4-73 .mbr-author-name {
  font-size: 25px;
  color: #ffffff;
}
#msg-box8-76 .mbr-section-title,
#msg-box8-76 .lead {
  color: #fff;
}
#msg-box8-76 .mbr-section-title DIV {
  font-size: 36px;
}
#msg-box8-76 .lead P {
  font-size: 22px;
}
#msg-box8-76 .mbr-section-title {
  font-size: 46px;
}
#msg-box8-79 .mbr-section-title,
#msg-box8-79 .lead {
  color: #fff;
}
#msg-box8-79 .mbr-section-title DIV {
  font-size: 36px;
}
#msg-box8-79 .lead P {
  font-size: 22px;
}
#msg-box8-79 .mbr-section-title {
  font-size: 46px;
  color: #000000;
}
#msg-box8-79 .lead {
  color: #28324e;
}
#header3-68 .mbr-section-title,
#header3-68 .mbr-section-subtitle {
  text-align: center;
}
#header3-68 .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-68 .mbr-section-title {
  color: #ffffff;
  font-size: 20px;
}
#header3-68 .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box3-6c .mbr-section-title,
#msg-box3-6c .lead {
  color: #000;
}
#msg-box3-6c .mbr-section-title {
  font-size: 32px;
}
#msg-box3-6c .btn {
  font-size: 36px;
}
#msg-box3-6c .lead P {
  font-size: 20px;
}
#msg-box3-26 .mbr-section-title,
#msg-box3-26 .lead {
  color: #000;
}
#msg-box3-26 .lead P {
  font-size: 20px;
}
#msg-box3-26 .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-26 .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#msg-box3-77 .mbr-section-title,
#msg-box3-77 .lead {
  color: #000;
}
#msg-box3-77 .lead P {
  font-size: 20px;
}
#msg-box3-77 .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-77 .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header3-6l .mbr-section-title,
#header3-6l .mbr-section-subtitle {
  text-align: center;
}
#header3-6l .mbr-section-subtitle {
  font-size: 23px;
  color: #ffffff;
}
#header3-6l .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-3u H3 {
  text-align: left;
  font-size: 46px;
}
#msg-box5-3u P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-6d H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-6d P {
  font-size: 20px;
  text-align: left;
}
#msg-box5-6f H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-6f P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-6f DIV {
  font-size: 36px;
}
#msg-box5-6g H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-6g P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-6h H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-6h P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-6i H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-6i P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-6j H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-6j P {
  font-size: 20px;
  text-align: left;
}
#msg-box5-6k P {
  font-size: 20px;
  text-align: left;
}
#msg-box5-6k H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box3-9t .mbr-section-title,
#msg-box3-9t .lead {
  color: #000;
}
#msg-box3-9t .lead P {
  font-size: 20px;
}
#msg-box3-9t .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-9t .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#testimonials1-9r .mbr-author-desc {
  color: #ffffff;
}
#testimonials1-9r .mbr-author-name {
  font-size: 24px;
  color: #ffffff;
}
#testimonials1-9r .mbr-section-title {
  color: #ffffff;
  text-align: left;
  font-size: 60px;
}
#testimonials1-9r .mbr-section-subtitle {
  color: #ffffff;
  font-size: 36px;
  text-align: left;
}
#header3-6n .mbr-section-title,
#header3-6n .mbr-section-subtitle {
  text-align: center;
}
#header3-6n .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-6n .mbr-section-title {
  color: #000000;
  font-size: 36px;
  text-align: left;
}
#msg-box3-6r .mbr-section-title,
#msg-box3-6r .lead {
  color: #000;
}
#msg-box3-6r .lead P {
  font-size: 20px;
}
#msg-box3-6r .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-6r .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-30 .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-30 .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-6q .mbr-section-title,
#msg-box3-6q .lead {
  color: #000;
}
#msg-box3-6q .lead P {
  font-size: 20px;
}
#msg-box3-6q .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-6q .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-1 .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-1 .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-6o .mbr-section-title,
#msg-box3-6o .lead {
  color: #000;
}
#msg-box3-6o .lead P {
  font-size: 20px;
}
#msg-box3-6o .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-6o .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-23 .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-23 .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-6s .mbr-section-title,
#msg-box3-6s .lead {
  color: #000;
}
#msg-box3-6s .lead P {
  font-size: 20px;
}
#msg-box3-6s .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-6s .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-3n .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-3n .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-6u .mbr-section-title,
#msg-box3-6u .lead {
  color: #000;
}
#msg-box3-6u .lead P {
  font-size: 20px;
}
#msg-box3-6u .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-6u .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-3o .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-3o .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-6w .mbr-section-title,
#msg-box3-6w .lead {
  color: #000;
}
#msg-box3-6w .lead P {
  font-size: 20px;
}
#msg-box3-6w .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-6w .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-6x .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-6x .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-6z .mbr-section-title,
#msg-box3-6z .lead {
  color: #000;
}
#msg-box3-6z .lead P {
  font-size: 20px;
}
#msg-box3-6z .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-6z .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-4h .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-4h .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#contacts1-1k P {
  font-size: 13px;
  color: #ffffff;
}
#menu-8i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8i .navbar-caption {
  color: #ffffff;
}
#menu-8i .navbar-toggler {
  color: #ffffff;
}
#menu-8i .close-icon::before,
#menu-8i .close-icon::after {
  background-color: #ffffff;
}
#menu-8i .link,
#menu-8i .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-8i .link {
  font-size: 1rem;
}
#menu-8i .dropdown-item,
#menu-8i .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-8i .link:hover,
#menu-8i .dropdown-item:hover,
#menu-8i .link:focus,
#menu-8i .dropdown-item:focus {
  color: #c0a375;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-menu {
  background: #070c19;
}
#menu-8i .nav-dropdown-sm .link:focus,
#menu-8i .nav-dropdown-sm .link:hover,
#menu-8i .nav-dropdown-sm .dropdown-item:focus,
#menu-8i .nav-dropdown-sm .dropdown-item:hover {
  background: #0f1834!important;
}
#menu-8i .navbar,
#menu-8i .nav-dropdown-sm,
#menu-8i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8i .nav-dropdown-sm .dropdown-menu {
  background: #131e40;
}
#menu-8i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8i .bg-color.transparent.opened .link:hover,
#menu-8i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}

#header3-4k .mbr-section-title,
#header3-4k .mbr-section-subtitle {
  text-align: center;
}
#header3-4k .mbr-section-subtitle {
  font-size: 25px;
  color: #ffffff;
}
#header3-4k .mbr-section-title {
  color: #ffffff;
}
#msg-box3-4l .mbr-section-title,
#msg-box3-4l .lead {
  color: #000;
}
#msg-box3-4l .lead P {
  font-size: 20px;
}
#msg-box3-4l .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-4l .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-4n .mbr-section-title {
  color: #ffffff;
  font-size: 100px;
  text-align: right;
}
#header1-4n .mbr-section-lead {
  color: #ffffff;
  font-size: 36px;
  text-align: right;
}
#msg-box5-4o H3 {
  text-align: left;
}
#msg-box5-4o P {
  text-align: left;
}
#header1-4p .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
  text-align: right;
}
#header1-4p .mbr-section-lead {
  color: #ffffff;
  font-size: 36px;
  text-align: right;
}
#header1-4q .mbr-section-title {
  color: #ffffff;
  font-size: 84px;
}
#header1-4q .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#header1-4s .mbr-section-title {
  color: #ffffff;
  font-size: 84px;
}
#header1-4s .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#header1-4v .mbr-section-title {
  color: #ffffff;
  font-size: 72px;
}
#header1-4v .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-4w .mbr-section-title,
#msg-box3-4w .lead {
  color: #000;
}
#msg-box3-4w .lead P {
  font-size: 20px;
}
#msg-box3-4w .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-4w .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-4y .mbr-section-title {
  color: #ffffff;
  font-size: 100px;
}
#header1-4y .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box5-50 H3 {
  text-align: left;
}
#msg-box5-50 P {
  text-align: left;
}
#header1-51 .mbr-section-title {
  color: #ffffff;
  font-size: 84px;
}
#header1-51 .mbr-section-lead {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-53 H3 {
  text-align: left;
}
#msg-box5-53 P {
  text-align: left;
}
#header1-54 .mbr-section-title {
  color: #ffffff;
  font-size: 84px;
}
#header1-54 .mbr-section-lead {
  color: #ffffff;
  font-size: 36px;
}
#header1-56 .mbr-section-title {
  color: #ffffff;
  font-size: 84px;
}
#header1-56 .mbr-section-lead {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-58 H3 {
  text-align: left;
}
#msg-box5-58 P {
  text-align: left;
}
#header1-59 .mbr-section-title {
  color: #ffffff;
  font-size: 84px;
}
#header1-59 .mbr-section-lead {
  color: #ffffff;
  font-size: 36px;
}
#header1-5b .mbr-section-title {
  color: #ffffff;
  font-size: 84px;
}
#header1-5b .mbr-section-lead {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-5d H3 {
  text-align: left;
}
#msg-box5-5d P {
  text-align: left;
}
#header1-5e .mbr-section-title {
  color: #ffffff;
  font-size: 84px;
}
#header1-5e .mbr-section-lead {
  color: #ffffff;
  font-size: 36px;
}
#header1-5g .mbr-section-title {
  color: #ffffff;
  font-size: 84px;
}
#header1-5g .mbr-section-lead {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-5i H3 {
  font-size: 36px;
}
#msg-box5-5i P {
  font-size: 20px;
}
#header1-5j .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-5j .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box5-5l P {
  font-size: 25px;
  text-align: left;
}
#msg-box5-5l H3 {
  text-align: left;
}
#header3-5m .mbr-section-title,
#header3-5m .mbr-section-subtitle {
  text-align: center;
}
#header3-5o .mbr-section-title,
#header3-5o .mbr-section-subtitle {
  text-align: center;
}
#header3-5q .mbr-section-title,
#header3-5q .mbr-section-subtitle {
  text-align: center;
}
#header3-5q .mbr-section-subtitle {
  font-size: 22px;
  color: #ffffff;
}
#header3-5q .mbr-section-title {
  color: #ffffff;
}
#msg-box5-5r P {
  font-size: 32px;
}
#header3-5s .mbr-section-title,
#header3-5s .mbr-section-subtitle {
  text-align: center;
}
#header3-5s .mbr-section-subtitle {
  font-size: 22px;
  color: #ffffff;
}
#header3-5s .mbr-section-title {
  color: #ffffff;
}
#msg-box5-5t H3 {
  font-size: 36px;
}
#header3-5u .mbr-section-title,
#header3-5u .mbr-section-subtitle {
  text-align: center;
}
#header3-5u .mbr-section-subtitle {
  font-size: 23px;
  color: #ffffff;
}
#header3-5u .mbr-section-title {
  color: #ffffff;
}
#msg-box5-5v P {
  font-size: 20px;
}
#msg-box3-5w .mbr-section-title,
#msg-box3-5w .lead {
  color: #000;
}
#msg-box3-5w .mbr-section-title {
  font-size: 36px;
}
#msg-box3-5w .btn {
  font-size: 36px;
}
#contacts1-5x P {
  font-size: 13px;
  color: #ffffff;
}
#menu-8i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8i .navbar-caption {
  color: #ffffff;
}
#menu-8i .navbar-toggler {
  color: #ffffff;
}
#menu-8i .close-icon::before,
#menu-8i .close-icon::after {
  background-color: #ffffff;
}
#menu-8i .link,
#menu-8i .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-8i .link {
  font-size: 1rem;
}
#menu-8i .dropdown-item,
#menu-8i .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-8i .link:hover,
#menu-8i .dropdown-item:hover,
#menu-8i .link:focus,
#menu-8i .dropdown-item:focus {
  color: #c0a375;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-menu {
  background: #070c19;
}
#menu-8i .nav-dropdown-sm .link:focus,
#menu-8i .nav-dropdown-sm .link:hover,
#menu-8i .nav-dropdown-sm .dropdown-item:focus,
#menu-8i .nav-dropdown-sm .dropdown-item:hover {
  background: #0f1834!important;
}
#menu-8i .navbar,
#menu-8i .nav-dropdown-sm,
#menu-8i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8i .nav-dropdown-sm .dropdown-menu {
  background: #131e40;
}
#menu-8i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8i .bg-color.transparent.opened .link:hover,
#menu-8i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}

#menu-8i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8i .navbar-caption {
  color: #ffffff;
}
#menu-8i .navbar-toggler {
  color: #ffffff;
}
#menu-8i .close-icon::before,
#menu-8i .close-icon::after {
  background-color: #ffffff;
}
#menu-8i .link,
#menu-8i .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-8i .link {
  font-size: 1rem;
}
#menu-8i .dropdown-item,
#menu-8i .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-8i .link:hover,
#menu-8i .dropdown-item:hover,
#menu-8i .link:focus,
#menu-8i .dropdown-item:focus {
  color: #c0a375;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-menu {
  background: #070c19;
}
#menu-8i .nav-dropdown-sm .link:focus,
#menu-8i .nav-dropdown-sm .link:hover,
#menu-8i .nav-dropdown-sm .dropdown-item:focus,
#menu-8i .nav-dropdown-sm .dropdown-item:hover {
  background: #0f1834!important;
}
#menu-8i .navbar,
#menu-8i .nav-dropdown-sm,
#menu-8i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8i .nav-dropdown-sm .dropdown-menu {
  background: #131e40;
}
#menu-8i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8i .bg-color.transparent.opened .link:hover,
#menu-8i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header3-7i .mbr-section-title,
#header3-7i .mbr-section-subtitle {
  text-align: center;
}
#header3-7i .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-7i .mbr-section-title {
  color: #000000;
  font-size: 36px;
  text-align: left;
}
#header3-7k .mbr-section-title,
#header3-7k .mbr-section-subtitle {
  text-align: center;
}
#header3-7k .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-7k .mbr-section-title {
  color: #f3c649;
  font-size: 36px;
  text-align: left;
}
#header3-7j .mbr-section-title,
#header3-7j .mbr-section-subtitle {
  text-align: center;
}
#header3-7j .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-7j .mbr-section-title {
  color: #f3c649;
  font-size: 36px;
  text-align: left;
}
#contacts1-1k P {
  font-size: 13px;
  color: #ffffff;
}

#header3-82 .mbr-section-title,
#header3-82 .mbr-section-subtitle {
  text-align: center;
}
#header3-82 .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-82 .mbr-section-title {
  color: #000000;
  font-size: 36px;
  text-align: left;
}
#header3-83 .mbr-section-title,
#header3-83 .mbr-section-subtitle {
  text-align: center;
}
#header3-83 .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-83 .mbr-section-title {
  color: #f3c649;
  font-size: 36px;
  text-align: left;
}
#header3-85 .mbr-section-title,
#header3-85 .mbr-section-subtitle {
  text-align: center;
}
#header3-85 .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-85 .mbr-section-title {
  color: #f3c649;
  font-size: 36px;
  text-align: left;
}
#contacts1-87 P {
  font-size: 13px;
  color: #ffffff;
}
#menu-8i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8i .navbar-caption {
  color: #ffffff;
}
#menu-8i .navbar-toggler {
  color: #ffffff;
}
#menu-8i .close-icon::before,
#menu-8i .close-icon::after {
  background-color: #ffffff;
}
#menu-8i .link,
#menu-8i .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-8i .link {
  font-size: 1rem;
}
#menu-8i .dropdown-item,
#menu-8i .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-8i .link:hover,
#menu-8i .dropdown-item:hover,
#menu-8i .link:focus,
#menu-8i .dropdown-item:focus {
  color: #c0a375;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-menu {
  background: #070c19;
}
#menu-8i .nav-dropdown-sm .link:focus,
#menu-8i .nav-dropdown-sm .link:hover,
#menu-8i .nav-dropdown-sm .dropdown-item:focus,
#menu-8i .nav-dropdown-sm .dropdown-item:hover {
  background: #0f1834!important;
}
#menu-8i .navbar,
#menu-8i .nav-dropdown-sm,
#menu-8i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8i .nav-dropdown-sm .dropdown-menu {
  background: #131e40;
}
#menu-8i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8i .bg-color.transparent.opened .link:hover,
#menu-8i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}

#header3-7r .mbr-section-title,
#header3-7r .mbr-section-subtitle {
  text-align: center;
}
#header3-7r .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-7r .mbr-section-title {
  color: #000000;
  font-size: 36px;
  text-align: left;
}
#header3-7s .mbr-section-title,
#header3-7s .mbr-section-subtitle {
  text-align: center;
}
#header3-7s .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-7s .mbr-section-title {
  color: #f3c649;
  font-size: 36px;
  text-align: left;
}
#header3-7u .mbr-section-title,
#header3-7u .mbr-section-subtitle {
  text-align: center;
}
#header3-7u .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-7u .mbr-section-title {
  color: #f3c649;
  font-size: 36px;
  text-align: left;
}
#contacts1-7y P {
  font-size: 13px;
  color: #ffffff;
}
#menu-8i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-8i .navbar-caption {
  color: #ffffff;
}
#menu-8i .navbar-toggler {
  color: #ffffff;
}
#menu-8i .close-icon::before,
#menu-8i .close-icon::after {
  background-color: #ffffff;
}
#menu-8i .link,
#menu-8i .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-8i .link {
  font-size: 1rem;
}
#menu-8i .dropdown-item,
#menu-8i .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-8i .link:hover,
#menu-8i .dropdown-item:hover,
#menu-8i .link:focus,
#menu-8i .dropdown-item:focus {
  color: #c0a375;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-menu {
  background: #070c19;
}
#menu-8i .nav-dropdown-sm .link:focus,
#menu-8i .nav-dropdown-sm .link:hover,
#menu-8i .nav-dropdown-sm .dropdown-item:focus,
#menu-8i .nav-dropdown-sm .dropdown-item:hover {
  background: #0f1834!important;
}
#menu-8i .navbar,
#menu-8i .nav-dropdown-sm,
#menu-8i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-8i .nav-dropdown-sm .dropdown-menu {
  background: #131e40;
}
#menu-8i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-8i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-8i .bg-color.transparent.opened .link:hover,
#menu-8i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-8i .link[aria-expanded="true"],
#menu-8i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}

#msg-box5-8j P {
  font-size: 24px;
  color: #ffffff;
}
#msg-box5-8j H3 {
  font-size: 36px;
  color: #ffffff;
}
#msg-box8-8k .mbr-section-title,
#msg-box8-8k .lead {
  color: #fff;
}
#msg-box8-8k .mbr-section-title DIV {
  font-size: 36px;
}
#msg-box8-8k .lead P {
  font-size: 22px;
}
#msg-box8-8k .mbr-section-title {
  font-size: 46px;
}
#header3-8l .mbr-section-title,
#header3-8l .mbr-section-subtitle {
  text-align: center;
}
#header3-8l .mbr-section-subtitle {
  font-size: 22px;
  color: #ffffff;
}
#header3-8l .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#msg-box5-8m P {
  font-size: 32px;
  color: #28324e;
}
#testimonials4-8n .mbr-section-title {
  text-align: left;
}
#testimonials4-8n .card-block P {
  text-align: left;
}
#testimonials4-8n .mbr-author-name {
  font-size: 25px;
  color: #ffffff;
}
#msg-box8-8o .mbr-section-title,
#msg-box8-8o .lead {
  color: #fff;
}
#msg-box8-8o .mbr-section-title DIV {
  font-size: 36px;
}
#msg-box8-8o .lead P {
  font-size: 22px;
}
#msg-box8-8o .mbr-section-title {
  font-size: 46px;
}
#msg-box8-8p .mbr-section-title,
#msg-box8-8p .lead {
  color: #fff;
}
#msg-box8-8p .mbr-section-title DIV {
  font-size: 36px;
}
#msg-box8-8p .lead P {
  font-size: 22px;
}
#msg-box8-8p .mbr-section-title {
  font-size: 36px;
  color: #000000;
}
#msg-box8-8p .lead {
  color: #28324e;
}
#header3-8q .mbr-section-title,
#header3-8q .mbr-section-subtitle {
  text-align: center;
}
#header3-8q .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-8q .mbr-section-title {
  color: #ffffff;
  font-size: 20px;
}
#header3-8q .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box3-8r .mbr-section-title,
#msg-box3-8r .lead {
  color: #000;
}
#msg-box3-8r .mbr-section-title {
  font-size: 36px;
}
#msg-box3-8r .btn {
  font-size: 36px;
}
#msg-box3-8r .lead P {
  font-size: 20px;
}
#msg-box3-8s .mbr-section-title,
#msg-box3-8s .lead {
  color: #000;
}
#msg-box3-8s .lead P {
  font-size: 20px;
}
#msg-box3-8s .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-8s .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#msg-box3-8t .mbr-section-title,
#msg-box3-8t .lead {
  color: #000;
}
#msg-box3-8t .lead P {
  font-size: 20px;
}
#msg-box3-8t .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-8t .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header3-8u .mbr-section-title,
#header3-8u .mbr-section-subtitle {
  text-align: center;
}
#header3-8u .mbr-section-subtitle {
  font-size: 23px;
  color: #ffffff;
}
#header3-8u .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-8v H3 {
  text-align: left;
  font-size: 46px;
}
#msg-box5-8v P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-8w H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-8w P {
  font-size: 20px;
  text-align: left;
}
#msg-box5-8x H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-8x P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-8x DIV {
  font-size: 36px;
}
#msg-box5-8y H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-8y P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-8z H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-8z P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-90 H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-90 P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-91 H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-91 P {
  font-size: 20px;
  text-align: left;
}
#msg-box5-92 P {
  font-size: 20px;
  text-align: left;
}
#msg-box5-92 H3 {
  text-align: left;
  font-size: 36px;
}
#header3-93 .mbr-section-title,
#header3-93 .mbr-section-subtitle {
  text-align: center;
}
#header3-93 .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-93 .mbr-section-title {
  color: #000000;
  font-size: 36px;
  text-align: left;
}
#msg-box3-94 .mbr-section-title,
#msg-box3-94 .lead {
  color: #000;
}
#msg-box3-94 .lead P {
  font-size: 20px;
}
#msg-box3-94 .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-94 .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-95 .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-95 .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-97 .mbr-section-title,
#msg-box3-97 .lead {
  color: #000;
}
#msg-box3-97 .lead P {
  font-size: 20px;
}
#msg-box3-97 .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-97 .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-98 .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-98 .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-9a .mbr-section-title,
#msg-box3-9a .lead {
  color: #000;
}
#msg-box3-9a .lead P {
  font-size: 20px;
}
#msg-box3-9a .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-9a .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-9b .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-9b .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-9d .mbr-section-title,
#msg-box3-9d .lead {
  color: #000;
}
#msg-box3-9d .lead P {
  font-size: 20px;
}
#msg-box3-9d .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-9d .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-9e .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-9e .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-9g .mbr-section-title,
#msg-box3-9g .lead {
  color: #000;
}
#msg-box3-9g .lead P {
  font-size: 20px;
}
#msg-box3-9g .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-9g .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-9h .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-9h .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-9j .mbr-section-title,
#msg-box3-9j .lead {
  color: #000;
}
#msg-box3-9j .lead P {
  font-size: 20px;
}
#msg-box3-9j .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-9j .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-9k .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-9k .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-9m .mbr-section-title,
#msg-box3-9m .lead {
  color: #000;
}
#msg-box3-9m .lead P {
  font-size: 20px;
}
#msg-box3-9m .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-9m .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-9n .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-9n .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#contacts1-9p P {
  font-size: 13px;
  color: #ffffff;
}
#menu-9q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-9q .navbar-caption {
  color: #ffffff;
}
#menu-9q .navbar-toggler {
  color: #ffffff;
}
#menu-9q .close-icon::before,
#menu-9q .close-icon::after {
  background-color: #ffffff;
}
#menu-9q .link,
#menu-9q .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-9q .link {
  font-size: 1rem;
}
#menu-9q .dropdown-item,
#menu-9q .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-9q .link:hover,
#menu-9q .dropdown-item:hover,
#menu-9q .link:focus,
#menu-9q .dropdown-item:focus {
  color: #c0a375;
}
#menu-9q .link[aria-expanded="true"],
#menu-9q .dropdown-menu {
  background: #070c19;
}
#menu-9q .nav-dropdown-sm .link:focus,
#menu-9q .nav-dropdown-sm .link:hover,
#menu-9q .nav-dropdown-sm .dropdown-item:focus,
#menu-9q .nav-dropdown-sm .dropdown-item:hover {
  background: #0f1834!important;
}
#menu-9q .navbar,
#menu-9q .nav-dropdown-sm,
#menu-9q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-9q .nav-dropdown-sm .dropdown-menu {
  background: #131e40;
}
#menu-9q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-9q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-9q .bg-color.transparent.opened .link:hover,
#menu-9q .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-9q .link[aria-expanded="true"],
#menu-9q .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}

#msg-box5-9u P {
  font-size: 24px;
  color: #ffffff;
}
#msg-box5-9u H3 {
  font-size: 36px;
  color: #ffffff;
}
#msg-box8-9v .mbr-section-title,
#msg-box8-9v .lead {
  color: #fff;
}
#msg-box8-9v .mbr-section-title DIV {
  font-size: 36px;
}
#msg-box8-9v .lead P {
  font-size: 22px;
}
#msg-box8-9v .mbr-section-title {
  font-size: 46px;
}
#header3-9w .mbr-section-title,
#header3-9w .mbr-section-subtitle {
  text-align: center;
}
#header3-9w .mbr-section-subtitle {
  font-size: 22px;
  color: #ffffff;
}
#header3-9w .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#msg-box5-9x P {
  font-size: 23px;
  color: #28324e;
}
#testimonials4-9y .mbr-section-title {
  text-align: left;
}
#testimonials4-9y .card-block P {
  text-align: left;
}
#testimonials4-9y .mbr-author-name {
  font-size: 25px;
  color: #ffffff;
}
#msg-box8-9z .mbr-section-title,
#msg-box8-9z .lead {
  color: #fff;
}
#msg-box8-9z .mbr-section-title DIV {
  font-size: 36px;
}
#msg-box8-9z .lead P {
  font-size: 22px;
}
#msg-box8-9z .mbr-section-title {
  font-size: 46px;
}
#msg-box8-a0 .mbr-section-title,
#msg-box8-a0 .lead {
  color: #fff;
}
#msg-box8-a0 .mbr-section-title DIV {
  font-size: 36px;
}
#msg-box8-a0 .lead P {
  font-size: 22px;
}
#msg-box8-a0 .mbr-section-title {
  font-size: 46px;
  color: #000000;
}
#msg-box8-a0 .lead {
  color: #28324e;
}
#header3-a1 .mbr-section-title,
#header3-a1 .mbr-section-subtitle {
  text-align: center;
}
#header3-a1 .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-a1 .mbr-section-title {
  color: #ffffff;
  font-size: 20px;
}
#header3-a1 .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box3-a2 .mbr-section-title,
#msg-box3-a2 .lead {
  color: #000;
}
#msg-box3-a2 .mbr-section-title {
  font-size: 32px;
}
#msg-box3-a2 .btn {
  font-size: 36px;
}
#msg-box3-a2 .lead P {
  font-size: 20px;
}
#msg-box3-a3 .mbr-section-title,
#msg-box3-a3 .lead {
  color: #000;
}
#msg-box3-a3 .lead P {
  font-size: 20px;
}
#msg-box3-a3 .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-a3 .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#msg-box3-a4 .mbr-section-title,
#msg-box3-a4 .lead {
  color: #000;
}
#msg-box3-a4 .lead P {
  font-size: 20px;
}
#msg-box3-a4 .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-a4 .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header3-a5 .mbr-section-title,
#header3-a5 .mbr-section-subtitle {
  text-align: center;
}
#header3-a5 .mbr-section-subtitle {
  font-size: 23px;
  color: #ffffff;
}
#header3-a5 .mbr-section-title {
  color: #ffffff;
  font-size: 36px;
}
#msg-box5-a6 H3 {
  text-align: left;
  font-size: 46px;
}
#msg-box5-a6 P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-a7 H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-a7 P {
  font-size: 20px;
  text-align: left;
}
#msg-box5-a8 H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-a8 P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-a8 DIV {
  font-size: 36px;
}
#msg-box5-a9 H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-a9 P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-aa H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-aa P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-ab H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box5-ab P {
  text-align: left;
  font-size: 20px;
}
#msg-box5-ac H3 {
  font-size: 36px;
  text-align: left;
}
#msg-box5-ac P {
  font-size: 20px;
  text-align: left;
}
#msg-box5-ad P {
  font-size: 20px;
  text-align: left;
}
#msg-box5-ad H3 {
  text-align: left;
  font-size: 36px;
}
#msg-box3-ae .mbr-section-title,
#msg-box3-ae .lead {
  color: #000;
}
#msg-box3-ae .lead P {
  font-size: 20px;
}
#msg-box3-ae .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-ae .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#testimonials1-af .mbr-author-desc {
  color: #ffffff;
}
#testimonials1-af .mbr-author-name {
  font-size: 24px;
  color: #ffffff;
}
#testimonials1-af .mbr-section-title {
  color: #ffffff;
  text-align: left;
  font-size: 60px;
}
#testimonials1-af .mbr-section-subtitle {
  color: #ffffff;
  font-size: 36px;
  text-align: left;
}
#header3-ag .mbr-section-title,
#header3-ag .mbr-section-subtitle {
  text-align: center;
}
#header3-ag .mbr-section-subtitle {
  font-size: 23px;
  color: #000000;
}
#header3-ag .mbr-section-title {
  color: #000000;
  font-size: 36px;
  text-align: left;
}
#msg-box3-ah .mbr-section-title,
#msg-box3-ah .lead {
  color: #000;
}
#msg-box3-ah .lead P {
  font-size: 20px;
}
#msg-box3-ah .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-ah .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-ai .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-ai .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-ak .mbr-section-title,
#msg-box3-ak .lead {
  color: #000;
}
#msg-box3-ak .lead P {
  font-size: 20px;
}
#msg-box3-ak .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-ak .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-al .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-al .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-an .mbr-section-title,
#msg-box3-an .lead {
  color: #000;
}
#msg-box3-an .lead P {
  font-size: 20px;
}
#msg-box3-an .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-an .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-ao .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-ao .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-aq .mbr-section-title,
#msg-box3-aq .lead {
  color: #000;
}
#msg-box3-aq .lead P {
  font-size: 20px;
}
#msg-box3-aq .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-aq .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-ar .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-ar .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-at .mbr-section-title,
#msg-box3-at .lead {
  color: #000;
}
#msg-box3-at .lead P {
  font-size: 20px;
}
#msg-box3-at .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-at .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-au .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-au .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-aw .mbr-section-title,
#msg-box3-aw .lead {
  color: #000;
}
#msg-box3-aw .lead P {
  font-size: 20px;
}
#msg-box3-aw .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-aw .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-ax .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-ax .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#msg-box3-az .mbr-section-title,
#msg-box3-az .lead {
  color: #000;
}
#msg-box3-az .lead P {
  font-size: 20px;
}
#msg-box3-az .mbr-section-title SPAN {
  font-size: 32px;
}
#msg-box3-az .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
#header1-b0 .mbr-section-title {
  color: #ffffff;
  font-size: 46px;
}
#header1-b0 .mbr-section-lead {
  color: #ffffff;
  font-size: 25px;
}
#contacts1-b2 P {
  font-size: 13px;
  color: #ffffff;
}
#menu-b3 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-b3 .navbar-caption {
  color: #ffffff;
}
#menu-b3 .navbar-toggler {
  color: #ffffff;
}
#menu-b3 .close-icon::before,
#menu-b3 .close-icon::after {
  background-color: #ffffff;
}
#menu-b3 .link,
#menu-b3 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-b3 .link {
  font-size: 1rem;
}
#menu-b3 .dropdown-item,
#menu-b3 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#menu-b3 .link:hover,
#menu-b3 .dropdown-item:hover,
#menu-b3 .link:focus,
#menu-b3 .dropdown-item:focus {
  color: #c0a375;
}
#menu-b3 .link[aria-expanded="true"],
#menu-b3 .dropdown-menu {
  background: #070c19;
}
#menu-b3 .nav-dropdown-sm .link:focus,
#menu-b3 .nav-dropdown-sm .link:hover,
#menu-b3 .nav-dropdown-sm .dropdown-item:focus,
#menu-b3 .nav-dropdown-sm .dropdown-item:hover {
  background: #0f1834!important;
}
#menu-b3 .navbar,
#menu-b3 .nav-dropdown-sm,
#menu-b3 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-b3 .nav-dropdown-sm .dropdown-menu {
  background: #131e40;
}
#menu-b3 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-b3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-b3 .bg-color.transparent.opened .link:hover,
#menu-b3 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-b3 .link[aria-expanded="true"],
#menu-b3 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
